<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>pages</title>
</head>

<body>
<ul>
  <% pages.forEach(function(page, i){ %>
  <li>
    <a href="<%= page %>"><%= names[i] %></a>
  </li>
  <% }); %>
</ul>

</body>
</html>
